<div class="container" id="top">
  <div class="row">
    <div [ngSwitch]="getTabActive" class="col-xs-12 col-lg-12">
      <h1>
        Welcome to the course assignments! 📓
      </h1>
      <div class="card" style="margin-bottom: 30px;">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li *ngFor="let item of getTabs; let index = index">
              <app-list-item
                (activatedItem)="setActiveTab = $event"
                [index]="index"
                [name]="item"
                [tabActive]="getTabActive"
              ></app-list-item>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h3 class="card-title" style="margin: 20px 0px 30px 0px;">
            {{ getAssigmentTitle }} 🥴
          </h3>
          <hr/>
          <h4>To do 👷 :</h4>
          <div>
            <div *ngSwitchCase="0" class="card-text">
              <ol>
                <li>
                  Create two new components(or one and reuse it) manually or
                  with CLI: WarningAlert and SuccessAlert
                </li>
                <li>Output them beneath each other in the AppComponent</li>
                <li>
                  Output a warning or success message in the Components
                </li>
                <li>
                  Style the Components appropriarly (maybe some red/green text)
                </li>
              </ol>
              <p>
                Use external or internal templates and styles. Feel free to
                create more components, nest them into each other or play around
                with different types of selector
              </p>
            </div>
            <div *ngSwitchCase="1" class="card-text">
              <ol>
                <li>
                  Add a Input field which updates a property ('username') via
                  To-Way-Databinding
                </li>
                <li>
                  Output the username property via String Interpolation (in a
                  paragraph below the input)
                </li>
                <li>
                  Add a button which may only be clicked if the username is NOT
                  an empty string
                </li>
                <li>
                  Upon clicking the button, the username should be reset to an
                  empty string
                </li>
              </ol>
            </div>
            <div *ngSwitchCase="2" class="card-text">
              <ol>
                <li>
                  Add a button which says 'Display detail'
                </li>
                <li>
                  Add a paragraph with any content of your choice
                </li>
                <li>
                  Toggle the displaying of the paragraph with the button created
                  in the first step
                </li>
                <li>
                  Log all the button clicks in an array and output the array
                  below the secret paragraph (maybe log a timestamp or simple an
                  incrementing number)
                </li>
                <li>
                  Starting at the 5th log item, give all future log item a grey
                  backgound (via ngStyle) and white color (ngClass)
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <h4>Resolved assignment 🙌 :</h4>
      <div class="resolved-assignment">
        <app-servers *ngSwitchCase="0"></app-servers>
        <app-databindings *ngSwitchCase="1"></app-databindings>
        <app-toggle-paragraph *ngSwitchCase="2"></app-toggle-paragraph>
      </div>
    </div>
  </div>
</div>
<div class="btn-back-to-top">
  <a class="btn btn-default" href="#top" id="" name="" role="button">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
</div>
