/* You can add global styles to this file, and also import other style files */
.margin > * {
  margin: 2.5px 2.5px;
}

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
